body, html {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: 5em auto 5em auto;
}

.vidie {
  width: 500px;
  height: 300px;
}